.count_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  background-color: #000;
  /* width: 100%; */
  background-color: #f7f5f2;

  padding: 80px;
}

.count_contianer {
  overflow: hidden;
}

.count_sub {
  height: 100%;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.observe {
  position: absolute;
  bottom: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  right: 0;
  left: 0;
  width: 100%;
}

.oi_img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  overflow: hidden;
}
.count_time {
  font-size: 120px;
  font-family: "ebg";
}

.count_title {
  font-family: "lato";
  font-size: 20px;
}
.wedding_date_display {
  padding: 30px;
  background-color: #f7f5f2;
  margin-top: -20px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.maha {
  font-family: "ebg";
  font-size: 30px;
  margin-bottom: 10px;
}

.naha {
  font-family: "lato";
  font-size: 20px;
}
