.gallery_container {
  background-color: #f7f5f2;
  color: #000;
  padding: 80px 100px;
}
.ho_ho {
  font-size: 70px;
  font-weight: 300;
  font-family: "candle";
  margin-bottom: 20px;
  text-align: center;
}
.gallery_con {
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 20px;
}

.fg {
  width: 100%;
}
.gallery_con {
  width: 100%;
  /* overflow: hidden; */
}

.gallery_sub_con {
  margin: 0 15px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  height: 40vh;
  overflow-y: hidden;
}
.gallery_con ::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.gallery_con {
  scrollbar-width: none;
}

.fg {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  object-fit: cover;
  border-radius: 8px; /* Optional for rounded corners */
}

.line {
  width: 100px;
  height: 3px;
  transform: rotate(90deg);
  margin: 50px auto 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.pxx {
  font-family: "ebg";
  font-size: 35px;
}

.actual_place {
  text-align: center;
  font-family: "lato";
  font-size: 20px;
  z-index: 10;
}
.gttt {
  width: 100%;
  margin-top: -70px;
  margin-bottom: -100px;
}

.view_p {
  text-align: center;
  font-family: "lato";
  font-size: 20px;
  padding: 50px 0;
  width: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 840px) {
  .ho_ho {
    font-size: 45px;
  }

  .gallery_container {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 773px) {
  .gttt {
    margin: 0;
    width: 100%;
    height: 50vh;
    object-fit: contain;
  }
}
@media screen and (max-width: 640px) {
  .ho_ho {
    font-size: 35px;
    width: 80%;
  }

  .view_p {
    width: 90%;
  }
  .cccc {
    height: 300px;
  }
}
